apiVersion: v1
kind: Secret
metadata:
  name: auth-service-db-secret
type: Opaque
stringData:
  username: root
  password: GragasLover1
---
apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-secret
type: Opaque
stringData:
  username: guest
  password: guest